*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
#container{
    width: 80%;
    margin: 0 auto;
}
#top{
    background-color: black;
    height: 20px;
    width: 100%;
}
#header{
    height: 70px;
    width: 100%;
}
#header img{
    height: 70px;
    width: 310px;
}
li{
    list-style-type:none;
    display: inline;
    margin: 5px; 
     
}
ul{
    float: right;
    padding-top: 20px;  
}
#banner{
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
}
#banner img{
    height: 500px;
    width: 100%;
}
#box1{ 
    background-color: coral;
    color: white;
    height: 320px;
    width: 31%;
    float: left;
    margin-right: 2%;
    padding-left: 10px;

}
#box2{
    background-color:green;
    color: white;
    height: 320px;
    width: 32%;
    float: left;
    margin-right: 2%;
    padding-left: 10px;

}
#box3{
    background-color: orange;
    color: white;
    height: 320px;
    width: 33%;
    float: right;
    padding-left: 10px;

    }
    a{
        background-color: white;
        color: blue;
        padding: 5px;
        margin-top:10px ;
    }
    .sample{
        margin-bottom: 10px;
    }
#intro{
    height: 250px;
    width: 60%;
    clear: both;
    float:left;
}
#intro1{
    height: 250px;
    width: 40%;
    float:right;
}
#intro1 img{
    height: 223px;
    width: 100%;
}
#footer{
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    clear: both;
}
#footer p{
    text-align: center;
    padding-top:10px;

}
